
RTS Udemy Git/ProjectSettings/TimelineSettings.asset
RTS Udemy Git/ProjectSettings/ShaderGraphSettings.asset
RTS Udemy Git/ProjectSettings/QualitySettings.asset
RTS Udemy Git/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
RTS Udemy Git/ProjectSettings/Packages/com.unity.progrids/Settings.json
RTS Udemy Git/ProjectSettings/Packages/com.unity.probuilder/Settings.json
RTS Udemy Git/ProjectSettings/EditorBuildSettings.asset
RTS Udemy Git/.vsconfig
RTS Udemy Git/ProjectSettings/ShaderGraphSettings.asset
